.fullContainer{
  display: flex;
  border: 1px;
  border-color: gray;
  border-radius: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.button {
  text-decoration: none;
  border:none;
  background-color: rgb(0, 172, 238);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  border-color: rgb(0, 172, 238);
  border-radius: 30px;
  color: white;
  margin-left: 50px;
}

.secondHalfContainer {
  margin: 25px;
}

.imgLogo {
  max-width: 40px;
  margin-bottom: 20px;
}